extends layout

block content
 h1(class='detail')= title

  if (toShow==null)
   h2 No Instance to show on detail page
  else
   - let kettleid = toShow._id 
   - let kettle_name = toShow.kettle_name 
   - let quantity = toShow.quantity 
   - let resistance = toShow.resistance
    div 
    div.row 
      div(class='kettleAttr mr-3') kettle id is: 
      div #{kettleid}
       
    div.row 
      div(class='kettleAttr mr-3') kettle_name is: 
      div #{kettle_name} 
    div.row 
      div(class='kettleAttr mr-3')  quantity is: 
      div #{quantity} 
    div.row 
      div(class='kettleAttr mr-3') resistance is: 
      div #{resistance} 